@model WebApp.Models.WfModel.YAVPCSalesOrder
@{
  ViewData["Title"] = "YAVPCSalesOrder";
  ViewData["PageName"] = "YAVPCSalesOrder_Index";
  ViewData["Heading"] = "<i class='fal fa-window text-primary'></i>  Sync SAP VPC So.";
  ViewData["Category1"] = "Configuration";
  ViewData["PageDescription"] = "sync vpc so";
}
@section HeadBlock {
  <link href="@Fingerprint.Tag("/Content/css/notifications/toastr/toastr.css")" rel="stylesheet" />
  <link href="@Fingerprint.Tag("/Scripts/easyui/themes/insdep/easyui.css")" rel="stylesheet" />
  <link href="@Fingerprint.Tag("/Content/css/formplugins/bootstrap-daterangepicker/bootstrap-daterangepicker.css")" rel="stylesheet" />
}
<div class="row">
  <div class="col-lg-12 col-xl-12">
    <div id="panel-1" class="panel">
      <div class="panel-hdr">
        <h2>
          Sync VPC SO
        </h2>
        <div class="panel-toolbar">
          <button class="btn btn-panel bg-transparent fs-xl w-auto h-auto rounded-0" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"><i class="fal fa-window-minimize"></i></button>
          <button class="btn btn-panel bg-transparent fs-xl w-auto h-auto rounded-0" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"><i class="fal fa-expand"></i></button>
          @*<button class="btn btn-panel bg-transparent fs-xl w-auto h-auto rounded-0" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Close"><i class="fal fa-trash-alt"></i></button>*@
        </div>

      </div>
      <div class="panel-container enable-loader show">
        <div class="loader"><i class="fal fa-spinner-third fa-spin-4x fs-xxl"></i></div>
        <div class="panel-content py-2 rounded-bottom border-faded border-left-0 border-right-0  text-muted bg-faded bg-subtlelight-fade">
          <div class="row no-gutters align-items-center">
            <div class="col">
              <!-- 开启授权控制请参考 @@if (Html.IsAuthorize("Create") -->
              <div class="btn-group btn-group-sm">
                <button name="searchbutton" onclick="reloadData()" class="btn btn-default"> <span class="fal fa-search mr-1"></span> @Html.L("Refresh") </button>
              </div>
              <div class="btn-group btn-group-sm">
                <button  data-toggle="modal" data-target="#staticBackdrop" class="btn btn-info"> <span class="fal fa-sync-alt mr-1"></span> sync </button>
              </div>




            </div>
          </div>
        </div>
        <div class="panel-content">
          <div class="table-responsive">
            <table id="yavpcwbsno_datagrid">
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Sync VPC SO</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="needs-validation" novalidate>
          <div class="form-group">
            <label for="exampleInputEmail1">SO.</label>
            <input type="text" class="form-control" id="inputso" required aria-describedby="wbshelp">
            <small id="wbshelp" class="form-text text-muted">Please enter the So to synchronize.</small>
          </div>
           
          <button type="submit" class="btn btn-primary float-right">Submit</button>
        </form>
      </div>
       
    </div>
  </div>
</div>
@section ScriptsBlock {
  <script src="@Fingerprint.Tag("/Scripts/notifications/toastr/toastr.js")"></script>
  <script src="@Fingerprint.Tag("/Scripts/formplugins/bootstrap-daterangepicker/bootstrap-daterangepicker.js")"></script>
  <script src="@Fingerprint.Tag("/Scripts/easyui/jquery.easyui.min.js")"></script>
  <script src="@Fingerprint.Tag("/Scripts/easyui/plugins/datagrid-filter.js")"></script>
  <script src="@Fingerprint.Tag("/Scripts/jquery.easyui.component.js")"></script>
  <script src="@Fingerprint.Tag("/Scripts/jquery.extend.formatter.js")"></script>
  <script src="@Fingerprint.Tag("/Scripts/jquery.custom.extend.js")"></script>
  <script src="@Fingerprint.Tag("/Scripts/plugin/jquery.serializejson/jquery.serializejson.min.js")"></script>
  <script type="text/javascript">
    function reloadData() {
      $dg.datagrid('uncheckAll');
      $dg.datagrid('reload');
    }
    var $dg = $('#yavpcwbsno_datagrid');
    $(() => {
      //定义datagrid结构
      $dg.datagrid({
        //fit: false,
        //height: window.innerHeight - 385,
        rownumbers: true,
        checkOnSelect: false,
        selectOnCheck: false,
        idField: 'Id',
        sortName: 'Id',
        sortOrder: 'desc',
        remoteFilter: true,
        singleSelect: true,
        //url: '/WfTables/GetData',
        method: 'get',
        pagination: true,
        clientPaging: false,
        striped: true,
        pageList: [10, 20, 50, 100, 500, 2000],
        filterRules: [],
        onBeforeLoad: function () {
          $('.enable-loader').removeClass('enable-loader')
        },
        frozenColumns: [[
          /*开启CheckBox选择功能*/
          { field: 'ck', checkbox: true },

        ]],
        columns: [[

          {    /*Catalog*/
            field: 'ID',
            title: 'ID',
            width: 90,
            hidden: false,
            sortable: true,
            resizable: true
          },
          {    /*Schema*/
            field: 'SD_DOC',
            title: 'SD_DOC',
            width: 130,
            hidden: false,
            sortable: true,
            resizable: true
          },
          {    /*Table Name*/
            field: 'ITM_NUMBER',
            title: 'ITM_NUMBER',
            width: 120,
            hidden: false,
            sortable: true,
            resizable: true
          },
          {    /*Type*/
            field: 'Material',
            title: 'Material',
            width: 110,
            hidden: false,
            sortable: true,
            resizable: true
          },
          {    /*Workflow Name*/
            field: 'SHORT_TEXT',
            title: 'SHORT_TEXT',
            width: 220,
            hidden: false,
            sortable: true,
            resizable: true
          },
          {    /*Description*/
            field: 'DOC_TYPE',
            title: 'DOC_TYPE',
            width: 160,
            hidden: false,
            sortable: true,
            resizable: true
          },
          {    /*Description*/
            field: 'DOC_DATE',
            title: 'DOC_DATE',
            width: 160,
            hidden: false,
            sortable: true,
            resizable: true
          },
          {    /*Description*/
            field: 'PMDisplayName',
            title: 'PMDisplayName',
            width: 160,
            hidden: false,
            sortable: true,
            resizable: true
          },
          {    /*Description*/
            field: 'PMShortName',
            title: 'PMShortName',
            width: 160,
            hidden: false,
            sortable: true,
            resizable: true
          },
          {    /*Description*/
            field: 'LeaderTitle',
            title: 'LeaderTitle',
            width: 160,
            hidden: false,
            sortable: true,
            resizable: true
          },
          {    /*Description*/
            field: 'Customer',
            title: 'Customer',
            width: 160,
            hidden: false,
            sortable: true,
            resizable: true
          },
          {    /*Description*/
            field: 'CustomerCode',
            title: 'CustomerCode',
            width: 160,
            hidden: false,
            sortable: true,
            resizable: true
          },
          {    /*Description*/
            field: 'PMGlobalID',
            title: 'PMGlobalID',
            width: 160,
            hidden: false,
            sortable: true,
            resizable: true
          },
          {    /*Description*/
            field: 'PMType',
            title: 'PMType',
            width: 160,
            hidden: false,
            sortable: true,
            resizable: true
          },
          {    /*Description*/
            field: 'Creator',
            title: 'Creator',
            width: 160,
            hidden: false,
            sortable: true,
            resizable: true
          },
          {    /*Description*/
            field: 'OMGlobalID',
            title: 'OMGlobalID',
            width: 160,
            hidden: false,
            sortable: true,
            resizable: true
          }, {    /*Description*/
            field: 'CCPGlobalID',
            title: 'CCPGlobalID',
            width: 160,
            hidden: false,
            sortable: true,
            resizable: true
          }, {    /*Description*/
            field: 'CreatorGlobalID',
            title: 'CreatorGlobalID',
            width: 160,
            hidden: false,
            sortable: true,
            resizable: true
          },
          {    /*Description*/
            field: 'CreatedOn',
            title: 'CreatedOn',
            width: 120,
            hidden: false,
            sortable: true,
            resizable: true
          },
          {    /*Description*/
            field: 'ChangedOn',
            title: 'ChangedOn',
            width: 120,
            hidden: false,
            sortable: true,
            resizable: true
          },
          {    /*Description*/
            field: 'AddDate',
            title: 'AddDate',
            width: 120,
            hidden: false,
            sortable: true,
            resizable: true
          },
          {    /*Description*/
            field: 'UpdateDate',
            title: 'UpdateDate',
            width: 120,
            hidden: false,
            sortable: true,
            resizable: true
          },
        ]]
      })
        .datagrid('enableFilter', []
        )
        .datagrid('load', '/YAVPCSalesOrder/GetData');

    });

    (function () {
      'use strict';
      window.addEventListener('load', function () {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function (form) {
          form.addEventListener('submit', function (event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            } else {
              $.messager.progress({
                title: 'Synching..',
                msg:'Please waiting ...'
              });
              $.get('/YAVPCSalesOrder/Sync?so=' + $('#inputso').val()).done(res => {
                $.messager.progress('close');
                if (res.success == true) {
                  if (res.result.length > 0) {
                    $.messager.alert('Information', `sync to workflow success,${res.result.toString()}`);
                    $('#staticBackdrop').modal('toggle');
                    reloadData();
                  } else {
                    $.messager.alert('Information', `not match so.`);
                  }
                  
                } else {
                  $.messager.alert('Error', res.err);
                }
              })

              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();
  </script>
}
